
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>ارتباط با فروشگاه اینترتی دمو</title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/cssstyle/contact us.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bgtopheader" dir="rtl">

        <div class="col-lg-12 col-md-12  titr">



            <p><span>فروشگاه اینترنتی  دمو</span></p>

        </div>

    </div>
    <div class="container-fluid mymenu">

        <div class="container-fluid navigation">
            <ul>
                <li><a href="~/MainPage">خانه</a></li>
                <li><a href="~/People/Signin">ثبت نام/ورود</a></li>
                <li><a href="~/Basket/Index"> سبد خرید</a></li>
                <!--<li>
                    <a href="#"> دسته بندی </a>
                    <ul>
                        <li><a href="#">لوازم جانبی موبایل</a></li>
                        <li><a href="#">موبایل</a></li>
                        <li><a href="#">تلویزیون </a></li>
                        <li><a href="#">کامپیوتر </a></li>

                    </ul>
                </li>-->
                <li><a href="peigiri1.html">پیگیری سفارش</a></li>



            </ul>





        </div>
    </div>
    <div class="container-fluid a767">
        <div class="col-lg-12">
            <div class="col-lg-4 left">

            </div>
            <div class="col-lg-4 col-xs-12 main">
                <div class="col-lg-8 email">
                    <p>DemoOnlineShope@gmail.com</p>
                </div>
                <div class="col-lg-4 mail"><span class="glyphicon glyphicon-envelope"> </span></div>
                <div class="col-lg-8 telid">
                    <p>@@DemoOnlineShopeChannel</p>
                </div>
                <div class="col-lg-4 telegram"><span class="glyphicon glyphicon-send"></span></div>
                <div class="col-lg-8 telnum">
                    <p>021-222222222</p>
                </div>
                <div class="col-lg-4 phone"><span class="glyphicon glyphicon-phone-alt"></span></div>


            </div>
            <div class="col-lg-4 right">

            </div>

        </div>
        <div class="container-fluid footer">

            <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 footericon">

            </div>
            <div class="col-lg-5 col-md-5   footeritem">
                <p>فروشگاه  اینترنتی دمو با پوشش دهی در حوزه ی لوازم یجیتال  در خدمت گذاری حاضر  است</p>
            </div>

        </div>


    </div>
    <!-- 767px -->
    <div class="b767">
        <div class="container-fluid">
            <div class="col-xs-12" dir="rtl">
                <!--<div class="col-lg-4 left">

                </div>-->
                <div class="col-xs-12 main767">


                    <div class="col-lg-4 mail"><span class="glyphicon glyphicon-envelope"> </span></div>
                    <div class="col-lg-8 email">
                        <p>DemoOnlineShope@gmail.com</p>
                    </div>

                    <div class="col-lg-4 telegram"><span class="glyphicon glyphicon-send"></span></div>
                    <div class="col-lg-8 telid">
                        <p>@@DemoOnlineShopeChannel</p>
                    </div>

                    <div class="col-lg-4 phone"><span class="glyphicon glyphicon-phone-alt"></span></div>
                    <div class="col-lg-8 telnum">
                        <p>021-222222222</p>
                    </div>


                </div>



                <div class="container-fluid footer">

                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 footericon">

                    </div>
                    <div class="col-lg-5 col-md-5   footeritem">
                        <p>فروشگاه  اینترنتی دمو با پوشش دهی در حوزه ی لوازم یجیتال  در خدمت گذاری حاضر  است</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

</body>

</html>
