@model OnlineShop.Models.Invoice
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/cssstyle/shopping3.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid bgtopheader">

        <div class="col-lg-12 col-md-12 titr">
            <div class="titr">
                دریافت فاکتور خرید

            </div>
        </div>
    </div>
    <div class="container-fluid x">

        <div class="col-lg-12 col-md-12 invoicenum">
            <div class="lable" dir="rtl">

                نام مشتری:


                <p>@Html.DisplayFor(model => model.Customer.Person.UserName)</p>
            </div>

            <div class="lable" dir="rtl">

                شماره پیگیری:



                <p>@Html.DisplayFor(model => model.Code)</p>
            </div>

            <div class="lable" dir="rtl">
                قیمت کل:



                <p></p>
            </div>
            <div class="lable" dir="rtl">

                تاریخ خرید:

                @Html.DisplayFor(model => model.Date)

                <p></p>
            </div>

            <div class="lable" dir="rtl">

                وضعیت پرداخت:

                @Html.DisplayFor(model => model.Status)

                <p></p>
            </div>



        </div>



    </div>

    <div class="container-fluid footer">


        <div class="col-lg-5 col-md-5 footeritem">
            <p>فروشگاه  اینترنتی دمو با پوشش دهی در حوزه ی لوازم یجیتال  در خدمت گذاری حاضر  است</p>
        </div>

    </div>
</body>
</html>
