

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{   Html.RenderPartial("Menu");   }
    <div dir="auto">
        <h1> مدیر محترم به صفحه خود خوش آمدید </h1>
    </div>
</body>
</html>
